[access]
	inheritFrom = All-Projects
[project]
	description = My First Android Demo app
[access "refs/*"]
	owner = group user/sirajyasin
[access "refs/for/refs/*"]
	read = group user/sirajyasin
	push = group user/sirajyasin
	label-Code-Review = -2..+2 group user/sirajyasin
	label-Verified = -1..+1 group user/sirajyasin
	rebase = group user/sirajyasin
	removeReviewer = group user/sirajyasin
	submit = group user/sirajyasin
[access "refs/heads/*"]
	read = group user/sirajyasin
	create = group user/sirajyasin
	push = +force group user/sirajyasin
	pushMerge = group user/sirajyasin
[access "refs/tags/*"]
	push = group user/sirajyasin
	push = +force group user/sirajyasin
